body {
  background-color: hsla(172, 49%, 52%, 0.733);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > div {
  display: none;
}

.container > .active {
  display: flex;
}
.start-screen {
  padding: 20px 20px;
  margin: 25px auto;
  font-family: "Slackey", cursive;
  font-size: 28px;
}

.start {
  font-family: "Press Start 2P", cursive;
}

.question {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin: 25px auto;
}

ul {
  list-style-type: lower-alpha;
  margin: 30px auto;
}

.question li {
  float: left;
  text-align: center;
  background-color: #000000;
  margin-right: 30px;
  width: 150px;
  line-height: 60px;
  text-decoration: none;
  color: #bdb8b8;
  display: block;
}

.question li:hover {
  text-decoration: none;
  color: #000000;
  background-color: #d11a14;
}

span {
  font-family: "Slackey", cursive;
  font-size: 28px;
}

li {
  font-family: "Press Start 2P", cursive;
}
.score-screen {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin: 25px auto;
  font-size: 25px;
}
.reset {
  font-family: "Press Start 2P", cursive;
}
.enterNm {
  font-family: "Press Start 2P", cursive;
}

#initials {
  font-family: "Press Start 2P", cursive;
  font-size: 28px;
}

label {
  font-family: "Slackey", cursive;
}
